<form asp-action="Filter" asp-controller="Products" method="POST">
    <div class="form-row justify-content-end">
        <input type="text" class="w-100" name="SearchString" placeholder="Search Products">
    </div>
    <div class="form-row justify-content-end">
        <button type="submit" class="btn btn-success mt-2">Filter</button>
    </div>
</form>
